{% extends 'quotes/base.html' %} {% load extract %} {% block content %}

<form method="POST" action="{% url 'quotes:add_author' %}">
  {% csrf_token %}
  <div style="padding: 10px">
    <label>Enter fullname: {{form.fullname}} </label>
    <span>{{ form.errors.fullname }}</span>
  </div>
  <div style="padding: 10px">
    <label>Enter born date: {{form.born_date}} </label>
    <span>{{ form.errors.fullname }}</span>
  </div>
  <div style="padding: 10px">
    <label>Enter born location: {{form.born_location}} </label>
    <span>{{ form.errors.fullname }}</span>
  </div>
  <div style="padding: 10px"></div>
    <label>Enter description: {{form.description}} </label>
    <span>{{ form.errors.description }}</span>
  </div>
  <div class="grid">
    <button type="submit">Submit</button>
    <button type="reset" class="secondary">Reset</button>
  </div>
</form>

{% endblock %}
